<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <nav class='flexer'>
      <a href='<%= root_path %>' class='nav-link'>
        <svg xmlns="http://www.w3.org/2000/svg" class='back-arrow' fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
      </a>
      <h2 class='banner'>LOGIN</h2>

      <div class="actions">
        <%= f.submit "Log in", class: 'login-btn' %>
      </div>
    </nav>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>
  <% end %>

<div class="center">
  <%= render "devise/shared/links" %>
</div>
