<%= form_for [@financial_group, @newFinancialEntity], url: financial_group_financial_entities_path(@financial_group), method: :post do |f| %>
<nav class='flexer'>
<a href='<%= financial_group_financial_entities_path(@financial_group) %>' class='nav-link'>
        <svg xmlns="http://www.w3.org/2000/svg" class='back-arrow' fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
      </a>
      <h2 class='banner'>ADD</h2>
      <div>
    <%= f.submit 'Create Entry', class: 'login-btn' %>
  </div>
</nav>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name"%>
  </div>

  <div class="field">
    <%= f.number_field :amount, placeholder: "Amount" %>
  </div>
<% end %>
